
/*new-collections div css*/
.new-collections{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:20px;
      margin-bottom: 100px;
}
/*new-collections class h1 css*/
.new-collections h1{
      color:#171717;
      font-size: 40px;
      font-weight: 600;
}
/*new-collections class hr tag css*/
.new-collections hr{
      width:250px;
      height: 8px;
      border-radius: 10px;
       background:  linear-gradient(90deg, rgb(148, 228, 230) 5%, rgb(71, 63, 63) 100%);
       
}
/*collection class css*/
.collections{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 60px;
      gap:40px;
}