/* main div navbar css  */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    position:fixed;
    background-color: white;
    width: 100%;
    height:35px;
    top:0;
    background-color: black;
    color: white;

}

/* nav-logo div css */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.5px;
}
.nav-logo img{
    width: 100px;
    
}

/* use for nav-logo p tag css */
.nav-logo p {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    
    background:  linear-gradient(20deg, lightblue 20%,blue 30%,red 5%, rgb(210, 223, 64) 80%);
    
}

/* css for nav-menu div */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 15px;
    font-weight: 500;
}

/* css for nav-menu list tag  */
.nav-menu li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 3px;
    
}




/* css for nav-menu hr tag  */
.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #FF4141;
    color: red;
}


/* css for nav-login-cart div */
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: 40px;
    /* background-color: red; */
    
   
}

/* css for nav-login-cart login button */
.nav-login-cart button {
    width: 134px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
    cursor: pointer;
    
}
.nav-login-cart img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 40px;
    
}

/* button click efect */
.nav-login-cart button:active {
    /* background: #f3f3f3 */
    background: cadetblue;
}    


/* log-in button hover efefect self */
.nav-login-cart button:hover {
    color: black;
}

/* use for cart counte {0} value */
.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* .nav-cart-count hover effect self */
.nav-cart-count:hover{
    width: 29px;
    height: 29px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 50%;
    color: white;

}

/* use for nav-menu li tag links  */
.links {
    text-decoration: none;
    color: white;
}

/* menu item list links hover self */
.links:hover {
    color: black;
    /* color: #626262; */
    color:lightseagreen;
}