.breadcrum {

    display: flex;
    align-items: center;
    gap: 5px;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 115PX;
    margin-left: 100PX;
}