
/*popular div css*/
.popular{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:10px;
     margin-bottom: 100px;
}
/*popular class h1 css*/
.popular  h1{
      color:#171717;
      margin-top:50px;
      font-size: 40px;
      font-weight: 600;
}
/*popular class hr tag css*/
.popular hr{
      width:250px;
      height: 8px;
      border-radius: 10px;
      background:  linear-gradient(90deg, rgb(148, 228, 230) 5%, rgb(71, 63, 63) 100%);
}
/*popular item css for cards*/
.popular-item{
      margin-top: 50px;
      display:flex;
      gap:30px;
      
}