/*for newsletter class css*/
.newsletter{
      width:65%;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 0px 140px;
      margin-bottom: 100px;
      background:linear-gradient(180deg,cadetblue 8%,#e1ffea22 110%);
      /* background:  linear-gradient(180deg, cadetblue 100px, rgb(95, 92, 92) 90%); */
      gap:30px;

      
}
/*for newsletter class h1 */
.newsletter h1{
      color:black;
      font-size: 55px;
      font-weight: 600;
      
}
/*for newsletter class p */
.newsletter p{
      color:black;
      font-size: 20px;
}
/*for newsletter class div*/
.newsletter div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: white;
      width: 730px;
      height: 70px;
      border-radius: 80px;
      border: 1px solid #e3e3e3;
}
/*for input type email css */
.newsletter input{
      width: 500px;
      
      margin-left: 30px;
      border: none;
      outline: none;
      color: #616161;
      font-family: poppins;
      font-size: 16px;
}

/* newsletter div btn tag css*/
.newsletter div button{
      width:210px;
      height: 70px;
      border-radius: 80px;
      background: black;
      color: white;
      font-size: 20px;
      cursor: pointer;
}
/* button hover effect */
.newsletter div button:hover{
      color: lightseagreen;
}